{% if (event.title) %}
<div class="container">
    {% if (partner.id) %}
    <div class="alert alert-success h4">Parabéns! você chegou até aqui através de <b>{{partner.name}}</b></div>
    {% endif %}
    <div class="row pl-md-3 pr-md-3">
        <div class="col-md-12 col-lg-12 mb-3 nav-page">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-tickets-tab" data-toggle="tab" href="#nav-tickets" role="tab" aria-controls="nav-tickets" aria-selected="true">
                        Ingressos
                    </a>
                    <a class="nav-item nav-link" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="false">
                        Detalhes
                    </a>

                    {% if (event.video_embed or event.audio_embed) %}
                    <a class="nav-item nav-link" id="nav-midia-tab" data-toggle="tab" href="#nav-midia" role="tab" aria-controls="nav-midia" aria-selected="false">
                        Mídia
                    </a>
                    {% endif %}

                    {% if (event.ticketpickup) %}
                    <a class="nav-item nav-link" id="nav-ticketpickup-tab" data-toggle="tab" href="#nav-ticketpickup" role="tab" aria-controls="nav-ticketpickup" aria-selected="false">
                        Retirada
                    </a>
                    {% endif %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-tickets" role="tabpanel"
                    aria-labelledby="nav-tickets-tab">
                    <form name="frm-event" id="frm-event" action="#" method="POST">
                        <div class="row p-md-4 p-2 justify-content-end">
                            <div class="col-lg-7 img-front-cover">
                                
                            </div>
                            <div class="col-lg-5">
                                <h6>
                                    <span class="badge badge-secondary classification">
                                        Classificação: {{ (event.classification) ? event.classification~' anos' : 'Livre'}}
                                    </span>
                                </h6>
                                <p>
                                    {{ event.description_short }}
                                </p>
                            </div>

                            {% if (vendas_off == 'S') %}
                            <div class="alert alert-info text-center">Aguarde abertura das vendas online.</div>
                            {% else %}
                            {% set etapa = 1 %}

                            {% if (event.required_scheduling =='S' or force_calendar=='S') %}
                            {# Calendário e Grade de horários #}
                            <div class="col-lg-5 col-12">
                                <div class="row">
                                    <div class="{{event.timetable=='S' ? 'col-lg-6' : 'col'}} mt-2 col-data">
                                        <h4>
                                            <span class="badge badge-secondary">{{ etapa }}</span> Selecione a data:
                                        </h4>
                                        <div class="mt-4" id="calendario-agendamento" data-timetable="{{ event.timetable }}" data-ide="{{ event.id }}"></div>
                                    </div>
                                    {% set etapa = etapa + 1 %}

                                    {% if (event.timetable=='S') %}
                                    <div class="col mt-md-2 mt-4  mr-md-5 col-hour">
                                        <h4>
                                            <span class="badge badge-secondary">{{ etapa }}</span> Selecione a hora
                                        </h4>
                                        <div class="mt-4 time-list">
                                            <div id="agenda-horarios" class="d-flex flex-wrap">
                                                {% include "selectionhour.inc.htm" %}
                                            </div>
                                        </div>
                                    </div>
                                    {% set etapa = etapa + 1 %}
                                    {% endif %}
                                </div>
                            </div>
                            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
                            <script>
                                //Renderiza o calendário
                                {% if (event.date_blocked) %}
                                var disabledDates = ['{{ event.date_blocked|join("', '") }}'];
                                {% else %}
                                var disabledDates = [];
                                {% endif %}
                                $('#calendario-agendamento').datepicker({
                                    format: "dd/mm/yyyy",
                                    language: "pt-BR",
                                    orientation: 'auto',
                                    todayHighlight: true,
                                    todayBtn: true,
                                    clearBtn: true,
                                    startDate: "+{{ event.start_date }}d",
                                    endDate: "{{ date_visit_end }}",
                                    daysOfWeekDisabled: [{{ week_block }}],
                                    datesDisabled: disabledDates
                                });
                                {% if (date_visit) %}
                                $("#calendario-agendamento").datepicker("setDate", '{{date_visit}}');
                                {% endif %}
                            </script>
                            {% endif %}
                            {# Lista de planos #}
                            {% if (etapa==1) %}
                            {% set col = 12 %}
                            {% set col_button = 2 %}
                            {% else %}
                            {% set col = 7 %}
                            {% set col_button = 6 %}
                            {% endif %}
                            <div class="col-lg-{{col}} col-12 mt-md-2 mt-4 productselection">
                                <h4><span class="badge badge-secondary">{{ etapa }}</span> Selecione o produto:</h4>
                                {% if (date_visit) %}
                                <h4>
                                    Data da visita: <b><span id="data_visita_view">{{ date_visit }}</span></b>
                                    <span id="hora_visita_view">{{ (hour_visit) ? hour_visit|date('H:i'):'' }}</span>
                                </h4>
                                {% endif %}
                                <div id="product-list">
                                    {% if (view_mode=='box') %}
                                    {% include "productbox.inc.htm" %}
                                    {% else %}
                                    {% include "productlist.inc.htm" %}
                                    {% endif %}
                                </div>
                                {% include "finalysale.inc.htm" %}
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                    <div class="row p-4">
                        <div class="col-lg-7">
                            <div class="details-text">
                                {{ event.description }}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h2>Local</h2>
                            <h5>{{event.local}}</h5>
                            <p>{{event.address}}, {{ event.district}}</p>
                            <p>{{event.city}}/{{event.state}} | CEP: {{event.zipcode}}</p>
                            {% if (event.local_site) %}
                            <a href="{{ event.local_site }}" target="_blank" rel="noopener noreferrer">
                                {{ event.local_site }}
                            </a>
                            {% endif %}
                            <div class="mt-2">
                                {{event.embeb_map}}
                            </div>
                        </div>
                    </div>
                </div>
                {% if (event.video_embed or event.audio_embed) %}
                <div class="tab-pane fade" id="nav-midia" role="tabpanel" aria-labelledby="nav-midia-tab">
                    <div class="row p-4">
                        <div class="col-lg-12">
                            <div class="row midia text-center">
                                {% if (event.audio_embed) %}
                                <div class="col-lg-6">{{event.audio_embed}}</div>
                                {% endif %}
                                {% if (event.video_embed) %}
                                <div class="col-lg-6">{{event.video_embed}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if (event.ticketpickup) %}
                <div class="tab-pane fade" id="nav-ticketpickup" role="tabpanel" aria-labelledby="nav-ticketpickup-tab">
                    <div class="row p-4">
                        <div class="col-lg-12">
                            <h2>
                                Retirada de ingressos <span class="badge badge-secondary">{{event.ticketpickup}}</span>
                            </h2>
                            <div class="text-pickup">
                                {{event.ticketpickup_description}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if (scripts) %}
{% for content in scripts %}
{{ content|raw }}
{% endfor %}
{% endif %}
{% else %}
<div class="alert alert-info">Não disponível no momento!</div>
{% endif %}